################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/trunk/.vs
/trunk/Apps.BLL/bin
/trunk/Apps.BLL/obj
/trunk/Apps.CodeHelper/bin
/trunk/Apps.CodeHelper/obj
/trunk/Apps.Common/bin
/trunk/Apps.Common/obj
/trunk/Apps.Core/bin
/trunk/Apps.Core/obj
/trunk/Apps.DAL/bin
/trunk/Apps.DAL/obj
/trunk/Apps.DEF.BLL/bin
/trunk/Apps.DEF.BLL/obj
/trunk/Apps.DEF.DAL/bin
/trunk/Apps.DEF.DAL/obj
/trunk/Apps.DEF.IBLL/bin
/trunk/Apps.DEF.IBLL/obj
/trunk/Apps.DEF.IDAL/bin
/trunk/Apps.DEF.IDAL/obj
/trunk/Apps.EncryptHelper/bin
/trunk/Apps.EncryptHelper/obj
/trunk/Apps.Flow.BLL/bin/Debug
/trunk/Apps.Flow.BLL/bin/Release
/trunk/Apps.Flow.BLL/obj
/trunk/Apps.Flow.DAL/bin
/trunk/Apps.Flow.DAL/obj
/trunk/Apps.Flow.IBLL/bin
/trunk/Apps.Flow.IBLL/obj
/trunk/Apps.Flow.IDAL/bin
/trunk/Apps.Flow.IDAL/obj
/trunk/Apps.IBLL/bin
/trunk/Apps.IBLL/obj
/trunk/Apps.IDAL/bin
/trunk/Apps.IDAL/obj
/trunk/Apps.Jobs/bin
/trunk/Apps.Jobs/obj
/trunk/Apps.Locale/bin
/trunk/Apps.Locale/obj
/trunk/Apps.MIS.BLL/bin
/trunk/Apps.MIS.BLL/obj
/trunk/Apps.MIS.DAL/bin
/trunk/Apps.MIS.DAL/obj
/trunk/Apps.MIS.IBLL/bin
/trunk/Apps.MIS.IBLL/obj
/trunk/Apps.MIS.IDAL/bin
/trunk/Apps.MIS.IDAL/obj
/trunk/Apps.Models/bin
/trunk/Apps.Models/obj
/trunk/Apps.Spl.BLL/bin
/trunk/Apps.Spl.BLL/obj
/trunk/Apps.Spl.DAL/bin
/trunk/Apps.Spl.DAL/obj
/trunk/Apps.WC.BLL/obj
/trunk/Apps.WC.BLL/bin
/trunk/Apps.Spl.IDAL/obj
/trunk/Apps.Spl.IDAL/bin
/trunk/Apps.Spl.IBLL/obj
/trunk/Apps.Spl.IBLL/bin
/trunk/Apps.WC.IBLL/obj
/trunk/Apps.WC.IBLL/bin
/trunk/Apps.WC.DAL/obj
/trunk/Apps.WC.DAL/bin
/trunk/Apps.Web/obj
/trunk/Apps.Web/bin
/trunk/Apps.WC.IDAL/obj
/trunk/Apps.WC.IDAL/bin
/trunk/Apps.WebApi/obj
/trunk/Apps.WebApi/bin
/trunk/packages
